.category__container {
  height: 40vh;
  width: 100%;
  padding: var(--section-padding);
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  overflow: hidden;

  /* &::before {
    position: absolute;
    left: 0;
    height: 90%;
    width: 30%;
    content: "";
    background-image: linear-gradient(
      to right,
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0.822),
      transparent
    );
    z-index: 43;
  }

  &::after {
    position: absolute;
    right: 0;
    height: 90%;
    width: 30%;
    content: "";
    background-image: linear-gradient(
      to left,
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0.822),
      transparent
    );
    z-index: 43;
  }*/

  .cat__card {
    max-width: 100%;
    width: 180px;
    margin: 10px auto;
    height: 240px;
    background-color: red;
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    box-shadow: .5px -1px 0 4px #fff;

    &:hover {
      cursor: pointer;
      box-shadow: 1px 1px 6px 1px rgba(0, 4, 14, 0.555);
    }

    .card__body {
      position: relative;
      height: 100%;
      width: 100%;

      &::after {
        content: attr(data-text);
        color: #fff;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
          to top,
          rgb(0, 4, 14),
          rgba(0, 4, 14, 0.13)
        );
        z-index: 2;
      }

      .card__image {
        height: 100%;
        width: 100%;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .card__footer {
        position: absolute;
        height: auto;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 10px;
        z-index: 20;
      }
    }
  }
}
