:root {
  --section-padding: 3% 15%;
  --common-green: #169384;
  --common-blue: #122849;
  --common-white: #fff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./Assets/css/categories.scss";
@import "./Assets/css/search.scss";
@import "./Assets/css/homes.scss";
@import "./Assets/css/singlehome.scss";
@import "./Components/Auth/register.scss";
@import "./Components/Forms/forms.scss";
@import "./Components/User/UserProfile.scss";
@import "./Components/User/Notifications.scss";
